# Git
.git/

.env

# Node.js (if frontend/backend uses Node)
node_modules/

# Build outputs
build/
mongo/data/
# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ------------------------
# Flutter
# ------------------------
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/.idea/
**/.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages
.pub-cache/
*.iml
*.lock

# Web build
**/web/.dart_tool/
**/web/build/